<section>
  <CENTER>
    <h2>A journey through technology from a woman's perspective.</h2>
    <IMG src="https://s3-us-west-2.amazonaws.com/technicalblog/SusanProfilePhoto2.jpg" alt="picture of Susan Prestage" width="200" height="200">
  <p class="lead" style="color:#008F68;">This blog is about my journey from an uninspiring 20 year software testing career to re-discovering my passion for technology by turning myself into a Ruby on Rails web developer and soon to be full stack developer.</p>
</section>
</CENTER><br>
