<section>
  <CENTER>
    <h2>A woman's journey through technology.</h2>
    <IMG src="https://s3-us-west-2.amazonaws.com/technicalblog/SusanProfilePhoto2.jpg" alt="picture of Susan Prestage" width="200" height="200">
  <p class="lead" style="color:#008F68;">This blog is about my journey back to passion in technology after 20 years of software testing by becoming a lifelong learner, turning myself into a Ruby on Rails developer, and learning to network with and support other women in STEM.</p>
</section>
</CENTER><br>
